
nav img{
    width: 150px;
}

.nav-link{   
    @extend .card-text;
}

//Iframe
#frm{
    height: 100%;
    width: 100%;
    min-height: 300px;
}

// los articles
.contenido{
    display: flex;
    justify-content: space-around;
    text-align: center;    
}



.navbar{
    border-radius: 5px;
    background-color: rgb(229, 228, 228);
    box-shadow: 1px 6px 8px 6px rgb(131, 131, 131);
    margin: 30px;
}

.card{ 
    border-radius: 20px;
    background-color: whitesmoke;
    box-shadow: 1px 6px 8px 6px #ccc;
    margin: 30px;
    &:hover{
        scale: 1.03;
        transition: .4s;
    }
}
// Inicio Botones
.btn-primary{
    background-color: map-get( $map:$paleta, $key:boton);
    border: none;
    width: 100%;
    font-weight: bold;
    &:hover{   background-color: map-get($map: $paleta, $key:boton-hover );
      }
}

.btn-secondary{
    @extend .btn-primary;
    background-color: white;
    border: solid black;
    border-width: 0.1px;
    margin-top: 5px;
    color: black;
    &:hover{background-color:map-get( $map:$paleta, $key:boton)}
}

.btn-carrito{
    width: 50%;
}

.btn-carrito-ok{
    @extend .btn-carrito;
    background-color: rgba(33, 182, 3, 0.507);
    color: black;
}

.btn-search{
    @extend .btn-secondary;
    background-color: rgb(86, 172, 252);
    border: none;
    color: black;
    &:hover{
        background-color: rgb(29, 145, 253);
    color: black;
    }
}

//fin botones

//nav activo
.active{
    font-weight: bold;
}

//tamaño de los radiobutton
input[type="radio"] {
    width: 30px; height:30px;
    }
    

.carrito{
        padding: 10px;
     }

.total-carrito{
        background-color: map-get($map: $paleta, $key:total-carrito );
        color: rgb(27, 27, 27);
        text-transform: uppercase;
        
    }
    


iframe{
        width: 100%;
        border-radius: 20px;
        margin-top: 10px;
        height: 500px;
    }
    