



$paleta:(
    'nav': #000000,
    'sombras-nav': rgb(131, 131, 131),
    'titles': #353535,
    'tarjetas':#272727,
    'p':#272727,
    'borders':#1d1d1d,
    'sombras-tarjeta': rgb(131, 131, 131),
    'fondo': #292829,
    'boton':rgb(7, 112, 19),
    'boton-hover':rgb(15, 145, 4),
    'alerta':#bd9eb8,
    'noticia':#e7cfe3,
    'total-carrito': #01853898,
);

//colores para zapas
#color-rojo{
    background-color: red;
}
#color-blanco{
    background-color: white;
}
#color-verde{
    background-color: green;
}
#color-negro{
    background-color: black;
}
#color-azul{
    background-color: blue;
}
#color-otro{
    background-color: pink;
}


body{
        background-image: linear-gradient(to top, rgb(229, 229, 229) , rgb(196, 196, 196));
    }
    
   

